@model Pagae.Models.HomeViewModels.PaySomeoneElseViewModel

@{
    ViewData["Title"] = "Pay For Someone Else";
}

<form asp-controller="Home" asp-action="PaySomeoneElse" method="post" class="form-horizontal">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.DropDownListFor(x => x.PayerId, new SelectList(Model.Users, "Id", "Name"), "Who is paying?", new { @class = "form-control" })
            <span asp-validation-for="PayerId" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Pay for?
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Users.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Users[i].Name)
                                @Html.HiddenFor(modelItem => Model.Users[i].Id)
                            </td>
                            <td>
                                @Html.EditorFor(modelItem => Model.Users[i].Selected)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div>
                <button type="submit" class="btn btn-success" aspne>Pay</button>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}